ul {
  transform: translate(-200px, 0);

  li {
    position: absolute;
  }
}

.menu {
  transform: translate(0, 0);
  transition-delay: 0,5s;

  li {
    position: relative;
  }
}

a {
  color: white;
  text-decoration: none;
}